.aboutSection {
    padding-top: 128px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 64px;
    /* background-color: pink; */
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    width: 100%;

    /* testing */
    position: relative;
}

.aboutLeftSection,
.aboutRightSection {
    width: 90%;
    height: max-content;
    text-align: center;
}

.aboutRightSection {
    display: flex;
    justify-content: center;
}

.aboutHeading {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: rgb(55, 65, 81);
    font-weight: 600;
}

/* .factoryImage{
    height: 23rem;
    object-fit: cover;
} */

@media (min-width: 768px) {
    .aboutSection {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: top;
    }

    .aboutLeftSection,
    .aboutRightSection {
        width: 45%;
        height: max-content;
        text-align: left;
    }

    .aboutLeftSection {
        padding-left: 3rem;
    }

    .aboutRightSection {
        padding-right: 3rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
        height: 300px;
    }
}